<div class="full-screen-section skills-section" [class]="level">
  <h2>Skills</h2>
  <h3>Click on the cards to discover the real-world projects and experiences that have shaped these skills</h3>
  <div class="skills-grid">
    <app-flip-card [level]="level" title="Angular" imagePath="assets/icons/angular.svg">
      <div class="card-content">
        <div>
          <p>Personal AIde</p>
          <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>
        <div>
          <p>This Website</p>
          <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>  
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>
    <app-flip-card [level]="level" title="TypeScript" imagePath="assets/icons/typescript.svg">
      <div class="card-content">
        <div>
          <p>Personal AIde</p>
        <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>
        <div>
          <p>This Website</p>
          <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>       
        <div>
          <p>Job Experience</p>
        <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>
    <app-flip-card [level]="level" title="HTML" imagePath="assets/icons/html.svg">
      <div class="card-content">
        <div>
          <p>Personal AIde</p>
        <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>
        <div>
          <p>This Website</p>
          <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>  
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>
    <app-flip-card [level]="level" title="CSS" imagePath="assets/icons/css.svg">
      <div class="card-content">
        <div>
          <p>Personal AIde</p>
        <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>
        <div>
          <p>This Website</p>
          <a href="#projects" class="nav-link" (click)="scrollToElement('projects')">Go to Projects</a>
        </div>        
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>
    <app-flip-card [level]="level" title=".NET" imagePath="assets/icons/dotnet.svg">
      <div class="card-content">                
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>    
    <app-flip-card [level]="level" title="C#" imagePath="assets/icons/c-sharp.svg">
      <div class="card-content">                
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>    
    <app-flip-card [level]="level" title="Flutter" imagePath="assets/icons/flutter.svg">
      <div class="card-content">                
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>
    <app-flip-card [level]="level" title="Dart" imagePath="assets/icons/dart.svg">
      <div class="card-content">                
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>    
    <app-flip-card [level]="level" title="SQL" imagePath="assets/icons/sql-server.svg">
      <div class="card-content">
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>    
    <app-flip-card [level]="level" title="NoSQL" imagePath="assets/icons/firestore.svg">
      <div class="card-content">                
        <div>
          <p>Job Experience</p>
          <a href="#experience" class="nav-link">Resume</a>
        </div>        
      </div>
    </app-flip-card>        
  </div>
</div>
