.skills-section {
    text-align: center;
    padding: 20px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}  

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

p {
    margin: 0;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
  
.level3 {
    .nav-link {
        text-decoration: none;
        color: var(--dark);    
        font-size: 15px;
        font-weight: 600;
        transition: color 0.3s ease;
        text-align: left;
    }
    
    .nav-link:hover {
        color: var(--primary);
    }
}

.level4 {      
    .transition-top, .transition-bottom {
        aspect-ratio: 960/200;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        pointer-events: none
    }

    .transition-top {
        top: 0;
        background-image: url('/assets/layered-waves-top.svg'); 
    }

    .transition-bottom {
        bottom: 0;
        background-image: url('/assets/layered-waves-bottom.svg');
    }
}
