<div class="full-screen-section">
  <div class="intro-text">
    <h1>Hi, I'm Guilherme</h1>
    <h2>I'm a software developer...</h2> 
  </div>
  <nav class="portfolio-nav">    
    <button class="nav-btn" (click)="scrollToElement('skills')">Skills</button>
    <button class="nav-btn" (click)="scrollToElement('experience')">Experience</button>
    <button class="nav-btn" (click)="scrollToElement('projects')">Projects</button>
    <button class="nav-btn" (click)="scrollToElement('about')">About</button>
    <button class="nav-btn" (click)="scrollToElement('contact')">Contact</button>  
  </nav>
</div>


<app-skills id="skills"></app-skills>
<app-experience id="experience"></app-experience>
<app-projects id="projects"></app-projects>
<app-about id="about"></app-about>
<app-contact id="contact"></app-contact>
