<div class="card" [@resize]="cardState">
  <div class="message-box" [@slideDown]="messageBoxState">
    <p>{{ message }}</p>
  </div>
  <div class="buttons">
    <button class="downgrade-btn" 
            title="Downgrade"
            [class.disabled]="currentLevel === 1"
            (click)="downgrade()">
      <i class="fa-solid fa-rotate-left" [ngClass]="{'disabled': currentLevel === 1}"></i>
    </button>
    <button class="upgrade-btn"
            [class.disabled]="currentLevel === 4" 
            (click)="upgrade()">
      <ng-container *ngIf="cardState === 'expanded'; else collapsedState">
        UPGRADE
    </ng-container>
    <ng-template #collapsedState>
        <i class="fa-solid fa-circle-up"></i>
    </ng-template>
    </button>
    <button class="expand-btn"
            [title]="cardState === 'collapsed' ? 'Expand' : 'Collapse'"
            (click)="toggleAnimation()">
      <i class="fa-solid fa-angle-down" [ngClass]="{'rotated': cardState === 'collapsed'}"></i>
    </button>
  </div>  
</div>