$col-primary: #00c7ec;
$col-secondary: #012839;

.card {  
  background-color: $col-secondary;    
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
  width: 320px;  
  overflow: hidden;
}

.message-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: 'Gabarito', sans-serif;
  font-size: 18px;
  color: $col-primary;
  // padding: 16px 4px 16px 4px;   
}

// Buttons

.buttons {
  display: flex;
}

.downgrade-btn {
  padding: 0 5px;
  border-radius: 0 0 0 5px;
  border: none;  
  background-color: lighten($col-secondary, 10%);
  cursor: pointer;
}

.disabled {
  color: grey !important;
  pointer-events: none;
}

.fa-rotate-left {
  font-size: 18px;  
  transition: color 0.3s ease;  
  color: $col-primary;
}

.downgrade-btn:hover {
  .fa-rotate-left {
    color: white;
  }
}

.upgrade-btn {  
  width: 100%;
  padding: 0 15px;  
  background-color: lighten($col-secondary, 10%);
  display: inline-block;
  position: relative;
  text-align: center;
  color: $col-primary;
  border: none;
  line-height: 2em;  
  text-decoration: none;
  font-family: 'Gabarito', sans-serif;  
  font-size: 25px;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    color: white;
    box-shadow: 0 0 30px 0 transparentize($col-primary, 0.5);
    background-color: $col-primary;

    transition: all 0.2s ease-out;

    &:before {
      animation: shine 0.5s 0s linear;
    }
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 2s ease-in;
  }

  &:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;

    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    transform: skewX(-20deg);
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.expand-btn {  
  padding: 0 5px;
  border: none;  
  background-color: lighten($col-secondary, 10%);
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);  
}


.expand-btn:hover {
  .fa-angle-down {
    color: white;
  }
}

.fa-angle-down {
  font-size: 18px;  
  color: $col-primary;
  transition: transform 0.3s ease, color 0.3s ease;  ;
}
  