<div class="card" [ngClass]="currentLevel" (click)="flipCard()">
    <div class="card__inner" [class.is-flipped]="isFlipped">
        <div class="card__face card__face--front">
            <div class="card__header">                            
                <img *ngIf="currentLevel != 'level1'" [src]="imagePath" class="image" />
                <h2>{{ title }}</h2>
            </div>
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__body">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>