<div class="full-screen-section" [ngClass]="currentLevel">
    <h2>About Me</h2>
    <h3>Get to know me!</h3>
    <div class="about-content">            
        <div class="about-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia ornare elit, sit amet fermentum sem. Aenean purus mi, eleifend eu hendrerit quis, pharetra non est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur mattis quam risus, ac accumsan tellus ornare ac. Vestibulum cursus leo lorem, in malesuada nisl eleifend at. Nam egestas feugiat elit vel commodo. Duis placerat dolor id dolor scelerisque venenatis. In hac habitasse platea dictumst. Fusce efficitur est elit, aliquet viverra tortor ultrices vel. Proin sapien metus, cursus vitae convallis in, convallis vitae arcu. Maecenas id congue urna. Donec egestas convallis lacus, et condimentum orci aliquam nec. Fusce tortor dolor, tristique eget libero vel, ullamcorper consequat est. Cras consequat turpis sed nulla pharetra porttitor.
          </p>
          <p>Feel free to send me an <a>email</a> or connect with me on <a>LinkedIn</a>!</p>
        </div>
        <img *ngIf="currentLevel != 'level1'" src="assets/me.jpg" alt="Profile Photo">
      </div>
</div>
  