<div class="full-screen-section" [class]="getLevelClass()">
  <div class="transition-top"></div>
  <h2>About Me</h2>
  <h3>Get to know me!</h3>
  <div class="about-content">            
      <div class="about-text">
        <p>
          In 2014, I embarked on my programming journey, experimenting with Arduinos. Fast forward about a decade and I've evolved into a versatile developer with a diverse skill set. My primary focus lies in web development, as my professional journey has allowed me to refine skills in this area while contributing to various real web projects.
        </p>
        <p>Beyond coding, some of the things I like to do are exercising, playing chess and learning new skills that catch my attention.</p>        
        <p>Feel free to send me an <a href="mailto:guilhermetarter@hotmail.com" class="link">email</a> or connect with me on <a href="https://linkedin.com/in/guilherme-tarter" class="link">LinkedIn</a>!</p>
      </div>
      <img src="assets/me.jpg" alt="Profile Photo">
    </div>
    <div class="transition-bottom"></div>
</div>
  