img {
    object-fit: contain;
    width: 300px;
    height: 300px;        
    border: 5px solid #FFF;
    margin-left: 30px;
}
  
.about-content {
    display: flex;
    flex-wrap: wrap;   
    max-width: 800px;    
}
  
.about-text {
    flex: 2;
    font-size: 18px;
    padding: 10px;
}
  
@media (max-width: 600px) {
    .about-content {
      flex-direction: column;
      align-items: center;      
    }

    img {
        margin-left: 0;
        margin-top: 30px;        
    }
}

.link {
    font-weight: bold;
}

.level3, .level4 {
    .link {
        text-decoration: none;
        color: var(--dark);    
        transition: color 0.3s ease;
        text-align: left;
    }
}

.level3 {
    img {
        border-radius: 50%;
    }

    .link:hover {
        color: var(--primary);
    }
}

.level4 {      
    img {
        border-radius: 50%;
    }

    .link:hover {
        transition: color 0.15s ease, text-shadow 0.15s ease;
        color: var(--primary);
        text-shadow: 1.25px 1.25px 1px #000000;
    }

    .transition-top, .transition-bottom {
        aspect-ratio: 960/200;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        pointer-events: none
    }

    .transition-top {
        top: 0;
        background-image: url('/assets/layered-waves-top-2.svg'); 
    }

    .transition-bottom {
        bottom: 0;
        background-image: url('/assets/layered-waves-bottom-2.svg');
    }
}
