.projects-section {
  text-align: center;
}

.project-card {
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  line-height: 1.6;
  font-size: 18px;
  text-align: left;
  padding: 20px;
}

.project-info {
  display: flex;
  
  @media (max-width: 768px) {
    flex-direction: column;

    .project-info__text-content {
      width: 100%;
      margin-bottom: 10px;
    }
  }    
}

.project-info__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  width: 50%;
}

.project-info__tags {
  list-style: none;
  padding: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}

.project-info__tags li {
  margin-top: 5px;
  margin-right: 5px;
}

.project-info__links a {
  display: inline-block;
  margin-right: 10px
}

.level1 {
  .project-info__tags li {
    font-weight: bold;
  }

  .fa-github, .fa-arrow-up-right-from-square {
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
  }

  .fa-github::before {
      content: "GitHub";
  }

  .fa-arrow-up-right-from-square::before {
      content: "Demo";  
  }   
}

.level2 {
  .project-info__tags li {
    background-color: var(--primary);
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;    
  }

  .project-info__links a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--dark);
  }
}

.level3 {
  p {
    line-height: 1.5;
  }

  .project-info__tags li {
    background-color: var(--primary-light);
    color: var(--primary);
    border-radius: 4px;
    padding: 0 10px;   
    padding-top: 4px; 
  }

  .project-info__links a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--dark);
  }

  .fa-github {
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .fa-arrow-up-right-from-square {
      font-size: 1.5rem;
      transition: color 0.3s ease;
  }

  .fa-github:hover {
      color: rgb(148, 0, 255);
  }

  .fa-arrow-up-right-from-square:hover {
      color: var(--primary);
  }    
}
