.projects-section {
  text-align: center;
}

.project-card {
  max-width: 1000px;
  width: 100%;
  background-color: #fff;  
  border-radius: 8px;
  overflow: hidden;
  line-height: 1.6;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

.project-info {
  display: flex;
  
  @media (max-width: 768px) {
    flex-direction: column;

    .project-info__text-content {
      width: 100%;
      margin-bottom: 10px;
    }
  }    
}

.project-info__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
  width: 50%;
}

.project-info__tags {
  list-style: none;
  padding: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}

.project-info__tags li {
  margin-top: 5px;
  margin-right: 5px;
}

.project-info__links a {
  margin-right: 10px
}

.project-info__links a i, .project-info__links a p {
  display: inline-block;
}

.level1, .level2 {
  .project-card {
    border: 1px solid #ddd;
  }
}

.level1 {
  .project-card {
    border-radius: 0;
  }

  .project-info__tags li {
    font-weight: bold;
  }

  .project-info__links a p {
    text-decoration: underline;
  }

  .fa-github::before {
      content: "";
  }

  .fa-arrow-up-right-from-square::before {
      content: "";  
  }   
}

.level2, .level3, .level4 {
  .project-info__links a {
    text-decoration: none;
    margin-right: 20px;
    color: var(--dark);    
  }

  .project-info__links a i {
    margin-right: 5px;
  }

  .project-info__links a p {
    font-weight: bold;
  }
}

.level2 {
  .project-info__tags li {
    background-color: var(--primary);
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;    
  }
}

.level3 {  
  .project-card {
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }

  .project-info__tags li {
    background-color: var(--primary-light);
    color: var(--primary);
    border-radius: 4px;
    padding: 0 10px;   
    padding-top: 4px; 
  }

  .fa-github {
    font-size: 1.5rem;
  }

  .fa-arrow-up-right-from-square {
    font-size: 1.4rem;
  }

  .project-info__links a:hover {
    transition: color 0.3s ease;
    color: var(--primary);
  }  
}

.level3, .level4 {
  .project-info__video {
    border-radius: 0.5rem;
    overflow: hidden;
    width:560px;
    height: 315px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
}

.level4 {
  background: var(--primary);
  
  h3 {
    color: white;
  }

  p {
    color:white;
  }

  .project-card {    
    position: relative;
    background-color: lighten(#012839, 30%);
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow: 3px 3px 8px #000000;

    h3 {
      color: black;
    }
  }
  
  .project-info__tags li {
    background-color: lighten(#012839, 10%);
    border-radius: 1rem;
    padding: 0 10px;   
    padding-top: 4px;
    color: var(--light);
  }

  .project-info__video {
    box-shadow: 3px 3px 8px #000000;
  }
  
  .fa-github {
    font-size: 1.5rem;
  }

  .fa-arrow-up-right-from-square {
    font-size: 1.4rem;
  }

  .project-info__links a {
    color: rgb(255, 255, 255);
  }

  .project-info__links a:hover {    
    transition: text-shadow 0.05s ease;
    text-shadow: 2px 2px 1px #000000;

    .fa-github {
      transition: color 0.15s ease;
      color: rgb(148, 0, 255);
    } 

    .fa-arrow-up-right-from-square {
      transition: color 0.15s ease;
      color: var(--primary)
    }
  }  
}
