<div class="full-screen-section projects-section" [ngClass]="currentLevel">
    <h2>Projects</h2>
    <h3>Explore my latest projects below. More exciting endeavors are in the works, so stay tuned for updates!</h3>
    <div class="project-card">      
      <div class="project-info">
        <h3>Personal AIde</h3>
        <p>
          Web application that enables users to perform AI-driven tasks in areas such as Writing
          and Programming through an intuitive card interface. 
        </p>
        <p>
          It was developed using Angular for the frontend, Firebase for user management and a
          Google Cloud Function for integrating AI services.
        </p>
        <div class="project-links">
          <a href="link-to-github-project1" target="_blank">GitHub</a>
          <a href="link-to-demo-project1" target="_blank">Demo</a>
        </div>
      </div>      
    </div>
    <div class="project-card">
      <div class="project-info">
        <h3>Personal Website</h3>
        <p>
          This website was built using Angular.
        </p>
        <div class="project-links">
          <a href="link-to-github-project1" target="_blank">GitHub</a>          
        </div>
      </div>      
    </div>
</div>

